# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# jdtls (Java LSP server) and/or eclipse data files
.classpath
.factorypath
.project
.settings/

# IntelliJ IDEA configuration files
/.idea/

# Visual Studio Code files
/.vscode/

# Local development files
/.dir-locals.el
/.envrc
optimiser-digital-twin/bin/
optimiser-digital-twin/dist/
